* {
    font-family: "Rancho", cursive;
}
#brand {
    font-family: 'Rancho';
    font-size: 200%;
}

.navbar-toggler:focus,
.navbar-toggler:active { 
    outline: none;
    box-shadow: none;
}
.icon {
    height: 30px;
    width: 30px;
}
#navigation-bar {
    background-image: url(/static/background_images/Diary_image4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #ffffff;
} 
#entry {
    width: 80%;
    height: 80%;
}
.submit {
    border-radius: 10px;
}
textarea {
    min-height: 40vh;
    max-height: 300px;
    border: 2px solid #ccc;
    transition: border-color 0.3s ease;
    border-radius: 4px;
}
textarea:focus {
    border: 3px solid #fff200;
    outline: none;
}
.infoCard {
    border-radius: 10px;
    padding: 10px;
    margin: 5px;
    color: #fff
}
.entry {
    font-size: x-large;
    font-weight: 300;
}
.binIcon {
    padding: 0;
    margin: 0;
    color: #ffffff;
}
.deleteIcon {
    width: 20px;
    height: 20px;
}
.emoji  {       
    color: grey;
}
a {
    text-decoration: none;
}