* {
    font-family: "Rancho", cursive;
}
#brand {
    font-family: 'Rancho';
    font-size: 40px;
}
.navbar-toggler:focus,
.navbar-toggler:active { 
    outline: none;
    box-shadow: none;
}
.icon {
    height: 30px;
    width: 30px;
}
#navigation-bar {
    background-image: url(/static/background_images/Diary_image4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #ffffff;
} 
#entry {
    width: 80%;
    height: 80%;
}
.submit {
    border-radius: 10px;
}
textarea {
    min-height: 50px;
    max-height: 300px;
    border: 2px solid #ccc;
    transition: border-color 0.3s ease;
    border-radius: 4px;
}
textarea:focus {
    border: 3px solid #7b7b7b;
    outline: none;
}