{% extends "layout.jinja2" %}

{% block title %}
    Analytics 
{% endblock %} 

{% block main %}
    <h1>Entry Summary</h1>
    <div class="row text-start" id="entryCount">
        <!-- JavaScript will add the number of entries here -->
    </div>
    <div class="row text-center">
        <canvas id="pieChart">
            <!-- JavaScript will render the pie chart here -->
        </canvas>                   `   
    </div>  
{% endblock %}