{% extends "layout.jinja2" %}

{% block title %}
    Analytics 
{% endblock %} 

{% block main %}
    <h1>Entry Summary</h1>
    <div class="row text-start py-2" id="entryCount">
        <!-- JavaScript will add the number of entries here -->
    </div>
    <div class="chart-container">
        <div class="row text-start">
            <div class="col stat">
                Entries by Mood:
            </div>
        </div>
        <canvas id="pieChart">
            <!-- JavaScript will render the pie chart here -->
        </canvas>    
    </div>
    <div class="col col-sm-12 py-2 stat" id="mostCommon">
        Most Common Mood:
    </div>
    <div class="row text-start py-2">
            <div class="col col-sm-12 stat" id="wordCount">Most Verbose Entry:</div>
        </div>
    <div class="row" id="longestEntry">
            <!-- JavaScript will render longest entry here -->
    </div>
{% endblock %}