<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="initial-scale=1, width=device-width">
        <link rel="stylesheet" href="/static/styles.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Geist:wght@100..900&family=Lexend:wght@100..900&family=Rancho&display=swap" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js" integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q" crossorigin="anonymous"></script>
        <script src="/static/script.js"></script>
        <title>
            The Accountable Journal | {% block title %} {% endblock %}
        </title>
    </head>
    <body>
        <nav class="navbar navbar-exapnd-lg bg-body-tertiary" id="navigation-bar">
            <div class="container-fluid">
                <a class="navbar-brand" href="index.html"><span id="brand">The Accountable Journal</span></a>
                <img class="icon" src="/static/icons/menu_icon.svg" class="navbar-toggler" role="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" style="cursor: pointer;" />
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        <a class="nav-link active" aria-current="page" href="layout.html"><img  class="icon" src="/static/icons/home_icon.svg" ><br>Home</a>
                        <a class="nav-link" href="#"><img class="icon" src="/static/icons/analytics_icon.svg"/><br>Analytics</a>
                        <a class="nav-link" href="#"><img class="icon" src="/static/icons/search_icon.svg"/><br>Search</a>
                        <a class="nav-link" href="#"><img class="icon" src="/static/icons/edit_notification_icon.svg"/><br>Customize</a>
                        <a class="nav-link" href="/logout"><img class="icon" src="/static/icons/logout_icon.svg"/><br>Logout</a>
                    </div>
                </div>
            </div>
        </nav>
        <div class="row text-center">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <p>{{ message |safe }}</p>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </div>
        <div class="container-fluid">
            {% block main %}
            {% endblock %}
        </div>
    </body>
</html>