{% extends "layout.jinja2" %}

{% block title %}
    Login 
{% endblock %}

{% block main %}
<div class="row">
    <h1>Pick Up Where you left off!<br>Sign in</h1>
    <form action="/login" method="POST">
        <div class="mb-3">
            <label for="email" class="form-label" >Email:</label>
            <input type="email" id="email" class="form-control"  required name="email">
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password:</label>
            <input type="password" class="form-control" id="password" required class="form-control" name="password">
        </div>
        <button type="submit" class="btn btn-secondary loginSignupBtn">Sign in</button><br>
        Don't have an Account?
        <a href="/" class="loginButton"><img class="icon" src="/static/icons/register_icon.svg"/>Register</a>
    </form>
</div>

{% endblock %}