{% extends "layout.jinja2" %}

{% block title %}
    Entries
{% endblock %}

{% block main %}
<div class="row text-center">
    <h2>Your Entries</h2>
</div>
    <form action="/search" method="POST" id="searchForm">
        <div class="row">
        <div class="col col-sm-4">
            <select class="searchMenu"  name="year">
                <option selected disabled>Year</option>
                {% for year in years %}
                    <option value="{{ year }}">{{ year }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col col-sm-4">
            <select class="searchMenu" name="month">
                <option selected disabled>Month</option>
                {% for month in months %}
                    <option value="{{ month }}"> {{ month | getStringMonth }}</option>
                {% endfor %}
                <option value="month">All</option>
            </select>
        </div>
        <div class="col col-sm-4">

            <select class="searchMenu" name="day">
                <option selected disabled>Day</option>
                {% for day in days %}
                    <option value="{{ day }}">{{ day }}</option>
                {% endfor %}
                <option value="day">All</option>
            </select>
        </div>
        <div class="col col-sm-4">
            <select class="searchMenu" name="mood">
                <option selected disabled>Mood</option>
                {% for mood in moods %}
                    <option value="{{ mood }}">{{ mood }}</option>
                {% endfor %}
                <option value="mood">All</option>
            </select>
        </div>
        </div>
        <div class="row">
        <div class="col col-sm-4">
            <select class="orderMenu" value="ORDER-BY" name="order-by">
                <option selected disabled>Show</option>
                <option value="">Latest</option>
                <option value="DESC">Oldest</option>
            </select>
        </div>
        <div class="col col-sm-6 text-end">
        <button class="btn" type="submit"><img src="/static/icons/search_icon.svg"/></button>
        </div>   
    </div>
    </form>
<div id="mainBody">
    <!-- Java Scipt will render the rest -->
</div>
{% endblock %}